Лендинг - блог о себе,
Когда пишешь код будь на 100% уверен, что ты не ломаешь ничего существующего.

Основные разделы: 
- Обо мне
- Статьи
- Контакты

Стиль:
- Нейтральный
- Современный
- Минималистичный